.flex-contain {
    min-height: 0;
}

.flex-contain52 {
    min-height: 52px;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}

.fix-accordion {
    --bs-accordion-btn-padding-y: 0.4rem;
    --bs-accordion-btn-padding-x: 0.4rem;

    max-height: 100%;
}

.fake-accordion-button {
    padding: 0.4rem;
    border: 1px solid #fff;
    border-radius: 0.25rem;
    background-color: #fff;
    width: 10%;
    min-width: 10%;
    max-width: 10%;
}

.accordion-button {
    width: 10%;
    min-width: 10%;
    max-width: 10%;
}

.accordion-body {
    max-height: 15rem;
}

.field_input {
    width: 32.5%;
    max-width: 32.5%;
    min-width: 32.5%;
}

.field_number_input {
    width: 15%;
    max-width: 15%;
    min-width: 15%;
}

.field_delete {
    width: 10%;
    max-width: 10%;
    min-width: 10%;
    margin: 0 0 0 0!important;
}

.ref_input {
    width: 45%;
    max-width: 45%;
    min-width: 45%;
}

.ref_select {
    width: 20%;
    max-width: 20%;
    min-width: 20%;
}

.ref_req {
    width: 15%;
    max-width: 15%;
    min-width: 15%;

    white-space: nowrap;
    overflow: visible;
}

.ref_req_label {
    width: 100%;
    max-width: 100%;
    min-width: 100%;

    padding-right: 0;
    padding-left: 0;
    text-align: center;
}

.ref_delete {
    width: 10%;
    max-width: 10%;
    min-width: 10%;
    margin: 0 0 0 0!important;
}

form {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

*[style*="display: none"] { display: none !important }